* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #5A5B59;
  --primary-white: #F8F7F3;
  --primary-orange: #FC8B03;
}

/*----------NAVBAR----------*/

nav {
  display: flex;
  background-color: var(--primary-dark);
  height: 10vh;
  width: 100vw;
}

.nav-logo {
  color: var(--primary-orange);
  margin: auto 1rem;
}

.nav-links {
  color: var(--primary-white);
  margin-top: 2rem;
  margin-left: auto;
}

.nav-links a {
  color: var(--primary-white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1rem;
}

.nav-links a:hover {
  color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.nav-links a:active {
  color: var(--primary-orange);
}