* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #5A5B59;
  --primary-white: #F8F7F3;
  --primary-orange: #FC8B03;
  --primary-bisque: #ffe4c4;
  --primary-darkblue: #394d4c;
  --primary-grey: #363430;
  --primary-red: #C70039;
  --primary-lightgrey: #E4E6E6;
  --primary-lightorange: #FDEDD7;
}

html {
	scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

/***************NAVBAR***************/

nav {
  display: flex;
  position: fixed;
  background-color: var(--primary-dark);
  min-height: 10vh;
  width: 100%;
  z-index: 3;
}

.nav-logo {
  color: var(--primary-orange);
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Anybody', cursive;
  margin: auto 1rem;
}

.nav-links {
  color: var(--primary-white);
  margin-top: 2rem;
  margin-left: auto;
}

.nav-links a {
  color: var(--primary-white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1rem;
}

.nav-links a:link {
  color: var(--primary-orange);
}

.nav-links a:visited {
  color: var(--primary-white);
}

.nav-links a:hover {
  color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.nav-links a:active {
  color: var(--primary-orange) !important;
}

/*************HEADER*************/

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 10vh;
  min-height: 90vh;
  width: 100%;
  background-color: var(--primary-grey);
  justify-content: center;
}

.header-main-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  z-index: 2;
}

.header-main-info button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  font-weight: bold;
  font-size: 1.18rem;
  width: 10rem;
  min-height: 3rem;
  border: 1px solid var(--primary-red);
  border-radius: 5%;
}

.header-main-info button:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
  border: 1px solid var(--primary-white);
  transition: ease-in-out 0.15s;
  cursor: pointer;
}

.header-title {
  font-size: 4rem;
  margin: 1rem;
  font-family: 'Anybody', cursive;
  color: var(--primary-orange);
}

.header-typed {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
}

.header-background-image{
  height: 90vh;
  width: 100%;
  position: absolute;
}

/*----------PARTICLES----------*/

#tsparticles {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 90vh;
}

/*----------ABOUT----------*/

.about {
  width: 100%;
  min-height: 45vh;
  z-index: 2;
}

.about-main {
  display: flex;
  margin: 10rem;
  justify-content: space-around;
}

.about-main-image {
  margin: 3rem;
  border-radius: 50%;
}

.about-image {
  width: 10rem;
  padding: 0rem;
  border: 0.16rem solid var(--primary-orange);
  border-radius: 50%;
}

.about-main-info {
  width: 30rem;
  font-family: 'Open Sans', sans-serif;
}

.about-main-info h1 {
  color: var(--primary-orange);
  margin-bottom: 1rem;
}

.about-main-info ul {
  list-style-type: none;
}

.about-main-info li {
  margin: 0.33rem;
}

/*----------PORTFOLIO----------*/

.portfolio-wrapper {
  flex-direction: row;
  width: 100%;
  min-height: 45vh;
  z-index: 2;
  background-color: var(--primary-orange);
}

.portfolio-wrapper h1 {
  color: var(--primary-grey);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 1rem;
}

.portfolio-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio-project {
  margin: 5rem 0;
}

.portfolio-project-title {
  color: var(--primary-white);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.portfolio-project a {
  text-decoration: none;
  color: var(--primary-black);
}

.portfolio-project img {
  max-height: 15rem;
  max-width: 20rem;
  border: 1px solid var(--primary-orange);
  border-radius: 1.666%;
}


/*----------CONTACTS----------*/

.contacts-wrapper {
  display: flex;
  background-color: var(--primary-dark);
  min-height: 45vh;
}

.contacts-main {
  margin: 2rem auto;
}

.contacts-greeting {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.contacts-greeting h2 {
  color: var(--primary-white);
  font-family: 'Open Sans', sans-serif;
}

.contacts-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-orange);
  margin-bottom: 1rem;
}

.contact-icon {
  color: var(--primary-orange);
  font-size: 3rem;
  margin: 1rem;
}

.contact-icon:hover {
  color: var(--primary-white);
  transition: ease-in-out 0.3s;
}