* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #5A5B59;
  --primary-white: #F8F7F3;
  --primary-orange: #FC8B03;
  --primary-bisque: #ffe4c4;
  --primary-darkblue: #394d4c;
  --primary-grey: #363430;
  --primary-red: #C70039;
}

html {
	scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}

/***************NAVBAR***************/

nav {
  display: flex;
  position: fixed;
  background-color: var(--primary-dark);
  height: 10vh;
  width: 100%;
  z-index: 3;
}

.nav-logo {
  color: var(--primary-orange);
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Anybody', cursive;
  margin: auto 1rem;
}

.nav-links {
  color: var(--primary-white);
  margin-top: 2rem;
  margin-left: auto;
}

.nav-links a {
  color: var(--primary-white);
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1rem;
}

.nav-links a:hover {
  color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.nav-links a:active {
  color: var(--primary-orange);
}

/*************HEADER*************/

.header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10vh;
  height: 90vh;
  width: 100%;
  background-color: var(--primary-grey);
  justify-content: center;
}

.header-main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-white);
  z-index: 2;
}

.header-title {
  font-size: 4rem;
  margin: 1rem;
  font-family: 'Anybody', cursive;
  color: var(--primary-orange);
}

.header-typed {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
}

.header-background-image{
  height: 90vh;
  width: 100%;
  position: absolute;
}

/*----------PARTICLES----------*/

#tsparticles {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 90vh;
}

/*----------ABOUT----------*/

.about {
  width: 100%;
  height: 45vh;
  z-index: 2;
}

.about-main {
  display: flex;
  margin: 5rem 10rem;
  justify-content: space-around;
}

.about-main-image {
  margin-top: 3rem;
  border-radius: 50%;
}

.about-image {
  width: 10rem;
  padding: 0rem;
  border: 0.16rem solid var(--primary-orange);
  border-radius: 50%;
}

.about-main-info {
  width: 30rem;
  font-family: 'Open Sans', sans-serif;
}

.about-main-info h1 {
  color: var(--primary-orange);
  margin-bottom: 1rem;
}

.about-main-info ul {
  list-style-type: none;
}

.about-main-info li {
  margin: 0.33rem;
}